{cover_enabled, true}.
{deps, [
    {piqi, "", {git, "git://github.com/alavrik/piqi-erlang.git", {branch, "master"}}}
]}.

{pre_hooks, [
    {compile, "make piqi -C proto"},
    {compile, "make protoc -C proto"},
    {compile, "make client -C client"}
]}.


{post_hooks, [
    {clean, "make clean -C client"},
    {clean, "make clean -C proto"}
]}.
